.body{
    /* background-color:  rgb(209, 206, 206); */
}
.card-img{
    width: 100%;
    height: 100%;
}
.card{
    border: none;
    
}
.row{
    display: flex;
    justify-content: space-around;

}
.card-title{
    color: #5e068a;
}
.card-image{
    /* height: 50%; */
}
.card-button{
    background-color:#5e068a ;
    color: white;
    border: none;
    width: 110px;
    height: 38px;
    padding: 5px;
}
.btn-card{
   
    justify-content: center;
    background-color: white;
   
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cont1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-card:hover{
    background-color: #5e068a;
    color: white;
}
@media(max-width:400px)
{
    .btn1{
        padding: 8px 14px;
      font-weight: 300;
      margin-top: 11px;
      border-radius: 25px;
    }
    .card-button{
        color: white;
        border: none;
        width: 70px;
        height: 19px;
        padding: 2px;
        font-size: xx-small;
    }
    


}
/* @media(max-width:780px)
{
    .coursel-head
    {
        font-size: 10px;
    }
    .coursel-p
    {
        font-size: xx-small;
    }
} */


